/* RESET RULES CSS */
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

body{
    font-family:'Fredoka', sans-serif;
}
/* --------HEADER------------------------------------ */
header{
    width: 85%;
    margin: auto; 
    text-align: center;
    padding-bottom: 20px;
}
header h1{
    color: red;
    text-align: center;
    margin-top: 30px;
    font-size: -webkit-xxx-large;  
}

header p{
    margin-top: 60px;
}

/* IL MAIN E IL CONTAINER DI COLONNE-------------------- */
main{
    /* background-color: crimson; */
    width: 85%;
    margin: auto;
}
.container{
    width: 100%;
}
/* ----COLONNE 1-2-3---------------------------------- */
.col{
    float: left;
    width: calc(100% /3);
    
    margin-top:30px;
}
/* ----CARD------------------------------------------- */
.card{
    width: 90%;
    background-color: black;
    margin-top: 30px;   
}
/* ---CARD TAG----------------------------------------- */
 .card img{
    height: 140px;
    float: left;
}
.text p{
    line-height: 38px;
    padding: 8px;

}

.nome{
    color: white;
    font-weight: 900;
    padding-left: 17px;
}
.lavoro{
    font: 100;
    color: white;
    padding-left: 17px;
}
.mail-contatto{
    color: lightskyblue;
    padding-left: 17px;
}


