/* RESET RULES CSS */
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


body{
    font-family: sans-serif;
}
/* --------HEADER------------------------------------ */
header{
    width: 70%;
    margin: auto; 
    text-align: center;
    padding-bottom: 20px;
}
header h1{
    color: red;
    text-align: center;
    margin-top: 30px;
}
header p{
    margin-top: 20px;
   
}

/* IL MAIN E IL CONTAINER DI COLONNE-------------------- */
main{
    /* background-color: crimson; */
    width: 70%;
    margin: auto;
}
.container{
    width: 100%;
}
/* ----COLONNE 1-2-3---------------------------------- */
.col{
    float: left;
    width: calc(100% /3);
    background-color: orange;
    border: black 1px solid;
}
/* ----CARD------------------------------------------- */
.card{
    width: 95%;
    background-color: black;
    margin-top: 30px;   
}
/* ---CARD TAG----------------------------------------- */
 .card img{
    height: 150px;
    float: left;
}

.nome{
    font: bold;
    color:white;
}
.lavoro{
    font: 100;
}


