*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container::after{
    content: '';
    display: table;
    clear: both;
}
body{
    background-color: cornflowerblue;
}
header{
    background-color: aqua;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
header p{
    margin-top: 20px;
}
main{
    background-color: crimson;
    width: 70%;
    margin: auto;
}

